.snm{
    margin-left: 530px;
    font-size: 18px;
    font-weight: bold;
    

}
.hom{
    margin-left: 370px;
}
.element{
    font-weight: bold;
    font-size: 18px;
    color: black;
}